<form class="form-horizontal">
  <fieldset>
    <legend>Update Interests</legend>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
      </div>
      <div class="col-lg-2">
      	<button type="submit" class="btn btn-primary">Search Interests</button>
      </div>
    </div>
	<div class="form-group">
      <label for="profiles" class="col-lg-2 control-label">Profiles</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="profiles"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="hashTags" class="col-lg-2 control-label">Hash Tags</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="hashTags"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </fieldset>
</form>